<div>
  <div class="char-row" fxLayout="row">
    <h2>Primary Character</h2>
    <button mat-stroked-button (click)="refresh()" color="primary">Refresh</button>
  </div>
  <div class="select-row" fxLayout="row">
    <mat-form-field>
      <mat-select [(ngModel)]="primary" placeholder="" (selectionChange)="disable($event.value)">
        <mat-option *ngFor="let charName of charNames" [value]="charName">
          {{charName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button [matBadge]="numChecked" matBadgeColor="accent" [matBadgeHidden]="buttonDisabled" (click)="copyCharSettings()" color="primary" [disabled]="buttonDisabled">Update Characters</button>
    <button mat-raised-button (click)="toggleSelect()" color="primary" [disabled]="!primary"><p *ngIf="!selectAll">Select All</p><p *ngIf="selectAll">Deselect All</p></button>
    <div *ngIf="done" class="prompt" fxLayout="row">
      <mat-icon class="mat-18">check_circle</mat-icon>
      <p>Character Settings copied!</p>
    </div>
  </div>
  <div class="profile-row" fxLayout="row wrap" fxLayout.xs="column">
    <mat-card *ngFor="let char of chars" [ngClass]="{'selected': char.checked, 'disabled': char.disabled}">
      <mat-card-header>
        <img matCardAvatar [src]="char.profile">
        <mat-card-title>{{char.data.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="middle">
        <mat-checkbox class="example-margin" [(ngModel)]="char.checked" [disabled]="!primary || char.disabled">
        </mat-checkbox>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
