<div class="link">
  <h4>Select up to three characters to link to an account:</h4>
  <div class="select-row" fxLayout="row">
    <div fxLayout="row">
      <mat-form-field>
        <mat-select [(ngModel)]="arr[0]" placeholder="">
          <mat-option *ngFor="let val of data" [value]="val">
            {{val.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="arr[1]" placeholder="">
          <mat-option *ngFor="let val of data" [value]="val">
            {{val.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="arr[2]" placeholder="">
          <mat-option *ngFor="let val of data" [value]="val">
            {{val.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <h4>Press this button after you have opened the proper account</h4>
  <button mat-raised-button (click)="findAccount()" color="primary" [disabled]="arr.length === 0">Press Me!</button>
</div>
