.mat-form-field {
  margin: 20px;
}

div.link {
  text-align: center;
}

div.link-name {
  margin: auto;
  p {
    width: 30%;
  }
}

.mat-divider {
  margin-top: 20px;
}

.mat-expansion-panel {
  background: #7986cb;
}
