<div>
  <div class="char-row" fxLayout="row">
    <h2>Primary {{typeName}}</h2>
    <button mat-stroked-button (click)="refresh()" color="primary">Refresh</button>
  </div>
  <div class="select-row" fxLayout="row">
    <mat-form-field>
      <mat-select [(ngModel)]="primary" placeholder="" (selectionChange)="disable($event.value)">
        <mat-option *ngFor="let name of names" [value]="name">
          {{name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button [matBadge]="numChecked" matBadgeColor="accent" [matBadgeHidden]="buttonDisabled"
      (click)="copySettings()" color="primary" [disabled]="buttonDisabled">Update {{typeName}}</button>
    <button mat-raised-button (click)="toggle()" color="primary" [disabled]="!primary">
      <p *ngIf="!selectAll">Select All</p>
      <p *ngIf="selectAll">Deselect All</p>
    </button>
  </div>
  <div class="profile-row" fxLayout="row wrap" fxLayout.xs="column">
    <mat-card *ngFor="let val of data" [ngClass]="{'selected': val.checked, 'disabled': val.disabled}">
      <mat-card-header>
        <img matCardAvatar *ngIf="val.img" [src]="val.img">
        <mat-card-title>{{val.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="type === 'user'">
          <p *ngFor="let item of getKnownLinkedChars(val.linkedChars)">
            {{item.name}}
          </p>
      </mat-card-content>
      <mat-card-actions align="middle">
        <mat-checkbox class="example-margin" [(ngModel)]="val.checked" [disabled]="!primary || val.disabled">
        </mat-checkbox>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
