button {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  p {
    margin: auto;
  }
}

div.prompt {
  padding-left: 20px;
  .mat-icon {
    margin: auto;
  }
  p {
    margin: auto;
    padding-left: 10px;
  }
}
.mat-card {
  margin: 15px;
  width: 275px;
  height: 175px;
  .mat-card-content {
    height: 80px;
    text-align: center;
  }
  .mat-card-avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }
}

