button {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  p {
    margin: auto;
  }
}

div.prompt{
  padding-left: 20px;
  .mat-icon {
    margin: auto;
  }
  p {
    margin: auto;
    padding-left: 10px;
  }
}
.mat-card {
  margin: 15px;
  width: 200px;
  height: 100px;
  .mat-card-header{
    height: 60px;
  }
}

