<div>
  <mat-toolbar>
    <div fxFlex>
      <mat-button-toggle-group>
        <mat-button-toggle [checked]="true" (change)="setType(0)">
          Character
        </mat-button-toggle>
        <mat-button-toggle (change)="setType(1)">
          Account
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div fxLayout="row" class="folder" fxFlex>
      <button class="change" mat-flat-button (click)="openLink()" color="warn">Link</button>
      <button class="change" mat-flat-button (click)="openImport()" color="warn">Import</button>
      <button class="change" mat-flat-button (click)="openBackups()" color="warn">Restore</button>
      <button class="change" mat-flat-button (click)="openChange()" color="warn">Change Folder</button>
      <p class="pwd">{{path}}</p>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
